@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
}

body {
    background-color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



header h1 {
    color: blue;
    font-size: 2.5rem;

}

header span {
    color: aqua;
}

header  .navegacao-primaria{
    display: flex;
    gap: 60px;
    align-items: center;
}

header .navegacao-primaria li a {
    color: aquamarine;
    width: 0px;
    height: 0px;
    font-size: 1.3rem;
}

/* DOWNLOAD CV SECAO */

.section-div{
    animation: inicializar .7s forwards;
    background-color: black;
    display: grid;
grid-template-columns: 1fr 1fr;
justify-content: space-around;
align-items: center;
gap: 60px;
padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div h2{
    font-family: 'Lato';
    font-weight: 600;
    color: blue;

}

.section-div a {
    justify-self: start;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}


.section-div img{
    max-height: 100%;
}


.digitando::after{
    content: ' ';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}
@keyframes pisca {
    from{
        opacity: 1;
        
    }
    
    to{
        opacity: 0;
        
    }
}


@keyframes inicializar{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*SEÇÃO PRINCIPAL SOBRE MIM */


main {
    background-color: #111;
    color: white;
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo { 
    margin: 30px 0;
    grid-column: 1/ -1;
    text-align: center;
    color: #fff;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color:aqua;
margin-bottom: 15px;
font-family: 'Poppins';
}

.sobre_titulo p{
    color: #707070;
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;

}


.sobre_titulo div{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aquamarine;
}

.sobre img{
    animation: ladoSecao .5sn ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo{
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobe_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}


.sobre_texto h1{
font-size: 2.3rem;
color: white;
grid-column: 1/-1;
}

.sobe_texto h1::after{
    background-color: aqua;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i{
    color: aquamarine;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}


.sobre_info p{
    font-size: .9rem;

}

@keyframes sobeSecao{
    from{
        transition: .5s;
        transform: translate3ed( 60px, 0, 0);
    }
        
    
    
    to{
        transform: translate3ed(0,0,0);

    }

}

@keyframes ladoSecao{
    from{
        transition: .5s;
        transform: translate3ed( -60px, 0, 0);
    }
        
    
    
    to{
        transform: translate3ed(0,0,0);

    }
}

/* RESPONSIVO*/
@media(max-width: 992px){
.section-div img{
    display: none;
}

.section-div {
    background-image: url(Unknown.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header.navegacao-primaria{
    display: none;
}
header i {
    color: #f7f7f7;
    font-size: 3rem;
}
}
 

@media(max-width: 992px){
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo{
        grid-column: 1/-1;

    }
}

/* Seção Services */
.services{
    margin-top: -30px;
    padding: 60px;
    background-color: #151515;
}

.my_services{
    padding: 60px;
    color: #f7f7f7;
}

.my_services ul {
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
     align-items: center;
     justify-content: center;
}

.my_services ul li{
cursor: pointer;
position: relative;
padding: 10px;
display: grid;
gap: 30px;
text-align: center;
max-width: 250px;
align-content: center;
height: 300px;
background-color: #222;

}

.my_services ul li i{
    font-size: 2rem;
    color: aqua;
}
.my_services ul li h3{
    color: #fff;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 500;
}

.my_services ul li p{
    color: #707070;
    font-size: 1rem;


}

.my_services li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position:absolute;
    top: -1px;
    right: -1px;
    border-top: 2px solid aqua;
    border-right: 2px solid transparent;
}

.my_services li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position:absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid aqua;
    border-left: 2px solid transparent;
}

.my_services li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid aqua ;
    border-right: 2px solid aqua;

}
.my_services li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid aqua ;
    border-left: 2px solid aqua;
}
/* PROJECTS*/
.projects{
    margin-bottom: 16rem ;
    scroll-margin-top: 15rem;
}
.projects .projects_content{
    max-width: 50rem;
    text-align: center;
    margin: 0 auto 6rem;
    grid-column: 1/-1;
    color: #fff;
}
.projects .projects_content h2{
    font-size: 2.7rem;
    color: aqua;
    margin-bottom: 15px;
    font-family: 'Poppins';
}
.projects .projects_content p{
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}
.projects .projects_content div {
    display:flex ;
    gap: 10px;
    justify-content: center;
}
.projects .projects_content span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    position: center;
}
.projects ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background-color: #222;
}
.projects ul li .projects_reversed-list{
    flex-direction: row-reverse;
}
.projects ul li:no(:last-of-type){
   margin-bottom: 12rem;
}
.projects ul li .image img{
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
}
.projects ul li .projects_info{
    max-width: 47rem;
}
projects ul li .projects_info p{
    margin: 1 rem 0 4rem;
}
projects ul li .projects_info a{
    max-width: 500;
    text-decoration: underline;
}

/* SEÇÃO CONTACTS*/
.contacts{
    margin-top: -30px;
    padding:60px ;
background-color: #151515;
    
}
.my_contacts{
    padding:60px ;
    color: white;
}

.my_contacts ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.my_contacts ul li{
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display:grid;
    gap:30px;
    text-align: center;
    max-width: 300px;
    align-content: center;
    height: 300px;
    background-color: #222;

}
.my_contacts ul li i{
    font-size: 2.7rem;
    color: aquamarine;
}
.my_contacts ul li h3{
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
}
.my_contacts li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}
my_contacts li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_contacts li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;
}

.my_contacts li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid aqua;
    border-left: 2px solid aqua;
}